*{
   padding: 0;
   margin: 0;
   border: 0;
}

*,*:before, *:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
} 
/* меняет подсчетдлины блока так чтобыудобно верстать */

:focus, :active{outline: none;}
a:focus,a:active{outline: none;}
/* убирает лининии обводки на неккоторых браузерах */

nav,footer,header,aside{display: block;}
/* дулает эти теги блочными  */

html,body{
   height: 100%;
   width: 100%;

   font-family: 'Inter', sans-serif;  
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
/* уравнтваем поведение шоифтов на разных платформах и браузерах, заприщает самовольное увеличение шрифта  */

input,button,textarea{font-size: inherit;}
/* просим их наследовать семейство шрифта так как по умолчаниюони не неследуют */
input ::-ms-clear{display: none;}
button{cursor: pointer;}
button ::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul il{list-style: none;}
li{ list-style-type: none;}

img{vertical-align: top;}
/* разные теги чтобыпо одинаковому в разных браузерах смотрелись */

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
/* обнуляем все наши заголовки */

.wrapper{
   min-height: 100%;
   display: flex;
   flex-direction: column;
 
}

.container{
   max-width: 1250px;
   margin: 0 auto;
   padding: 0px 15px;
  
}

.main{
   flex: 1 1 auto;
}

.header {
   background: #EDF2EC;

}
.header__container {
   display: flex;
    min-height: 146px;
   justify-content: space-between;
   align-items: center;
}
.header__logo {

}
.logo { 
   display: flex;
   align-items: flex-end;
   margin-bottom: 16px;
}
.logo__icon {
   display: block;

}
.logo__text {
   font-family: 'Inika';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
}
.header__menu {
 
}
.menu {
}
.menu__icon {
}
.icon-menu {
}
.menu__body {
}
.menu__list {
   display: flex;
   gap: 46px;
   justify-content: space-between;
}
.menu__item {
}
.menu__link {
   font-family: 'Inika';
   font-weight: 400;
   font-size: 16px;
   line-height: 50px;
   transition: all 0.3s ease 0s;
   color: #010201;
}

.menu__link:hover{
   font-weight: 700;
   color: #E06733;
}

@media(max-width: 768px){
   .menu__list{
      gap: 20px;
   }
}

/* *****************welcome************* */
.welcome {
   background: #EDF2EC;

}
.welcome__container {
   display: flex;
   justify-content: space-between;
   min-height: 532px;
   padding-top: 74px;
   padding-bottom: 94px;
}

.welcome__container img{
   display: block; 
   max-width: 100%;
   height: auto;
}
.welcome__content {
   max-width: 538px;
}
.descrip {
   margin-top: 40px;
   font-weight: 700;
   font-size: 45px;
   line-height: 50px;
   color: #717171;
}
.descrip span{
   color: #499A18;
}
.welcome__text {
   margin-top: 42px;
   font-weight: 400;
   font-size: 20px;
   line-height: 175%;
   color: #636060;
}
.welcome__btn {
   margin-top: 53px;
   width: 154px;
   height: 44px;
   font-weight: 400;
   font-size: 16px;
   text-align: center;
   color: #000000;
   border: 2px solid #E06733;
   border-radius: 10px;
   transition: all 0.3s ease 0s;
}

.welcome__btn:hover{
   color: #FFFFFF;
   background: #E06733;
}

/* ******************ABOUT************ */

.about {
   padding: 93px 0 94px 0;

}
.about__container {
   display: flex;
   justify-content: space-between;
   gap: 10px;
}

.about__content {
   flex: 1 1 auto;

}
.about__title {
   margin-top: 27px;
}

.title {
   font-family: 'Inika';
   font-weight: 400;
   font-size: 40px;
   line-height: 52px;
   color: #499A18;
   max-width: 463px;
}

.title span{
   color: #E06733;
}
.about__text {
   max-width: 605px;
   font-weight: 400;
   font-size: 20px;
   line-height: 150%;
   color: #636060;
   margin-top: 40px;
}
.about__image{
   flex: 0 0 40%;
   position: relative;
}
.about__image img{

   width: 100%;
   height: 121%;
   position: absolute;
   top: -34px;
   left: 6px;
   /* object-fit: cover;  */
}




/* ********SERVISE************* */
.servise {
   background: #EDF2EC;
   padding: 40px 0 66px 0;
}
.servise__container {

}

.servise__head {
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1007px;
}
.servise__title {
   max-width: 306px;
   margin-right: 15px;
}
.servise__btns {
   display: flex;
   gap: 38px;
   flex-wrap: wrap;
}
.servise__btn {

}

.btn {
   width: 161px;
   height: 50px;
   border: 1px solid #E06733;
   border-radius: 5px;
   font-weight: 400;
   font-size: 20px;
   line-height: 26px;
   color: #E06733;
   transition: all 0.3s ease 0s;
}

.btn:hover{
   background: #E06733;
   border: 1px solid #E06733;
   color: #FFFFFF;
}
.servise__card {
   margin-top: 80px;
   display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.servise__item {
   max-width: 329px;
   max-height: 450px;
   
}
.servise__item:not(:last-child){
   margin-bottom: 55px;
}
.item-servise {
   flex: 1 1 33.333%;
}

.item-servise img {
   width: 100%;
   border-radius: 20px 20px 0px 0px;
}

.item-servise__content{
   border-radius: 0 0 20px 20px;
   border: 1px solid #E3E1D5;
}

.item-servise__title {
   font-weight: 700;
   font-size: 20px;
   line-height: 100%;
   color: #E06733;
   text-align: center;
   margin-top: 10px;
}
.item-servise__descript {
   font-weight: 400;
   font-size: 16px;
   line-height: 125%;
   color: #717171;
   text-align: center;
   margin-top: 12px;
   margin-bottom: 36px;
}

/* **********Price********** */

.prices {
   padding: 40px 0 115px 0;
}

.prices__container {
   display: flex;
   justify-content: space-between;
}
.container {
}
.prices__left {
}
.prices__title {
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
}
.content-prices__selest {
   display: flex;
   flex-direction: column;
   gap: 32px;
   margin-top: 60px;
}
.selest-prices {
   border: 1px solid #E3E1D5;
   border-radius: 20px; 
   padding: 34px 41px;
}
.selest-prices__btn {
   position: relative;
   padding: 16px 40px;
   text-align: left;
   align-items: center;
   width: 250px;
   height: 50px;
   background: #EDF2EC;
   border-radius: 20px;
   font-weight: 700;
   font-size: 20px;
}
.selest-prices__btn::after{
   content: '';
   background: url('../img/icon/arrow.svg') 0 0 no-repeat;
   position: absolute;
   top: 36%;
   right: 16%;
   width: 6%;
   height: 30%;
   border-radius: 100%;
   background: #D9D9D9;
   z-index: 4;
}
.selest-prices__btn::before{
   content: '';
   background: url('../img/icon/arrow.svg') 0 0 no-repeat;
   position: absolute;
   top: 42%;
   right: 6%;
   width: 15%;
   height: 18%;
   z-index: 5;
}


.prices__right {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   max-width: 452px;
}

.prices__right img{
   max-width: 152px;
   min-height: 179px;
   margin-top: 38px;
}
.prices__discr {
   font-weight: 700;
   font-size: 40px;
   line-height: 125%;
   text-align: right;

}
.prices__discr span{
   color:#499A18;
}
.content-prices__btn {
   margin-top: 38px;
}

/* **********contact******* */

.contact {
   background: #EDF2EC;
   padding-top: 60px;
}

.contact__title {
   margin: 0 auto;
   font-family: 'Inika';
   max-width: 215px;
   font-weight: 700;
   font-size: 40px;
   color: #499A18;
}
.contact__container { 
   height: 452px;
   display: flex;
   justify-content: space-between;
}
.contact__image {
   width: 400px;
   height: 100%;
   background: url('../img/contact_woman.png') bottom /contain no-repeat;
}


.contact__selest{
   position: relative;
   display: block;
   height: 50px;
   width: 450px;
   font-weight: 400;
   font-size: 20px;
   letter-spacing: 0.05em;
   color: #717171;
   background: #D6E7D2;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 0px;
   padding: 5px 35px 5px 14px;
   margin-top: 41px;
   margin-right: 12px;
   text-align: left;
}

.contact__selest::after{
   content: '';
   background: url('../img/icon/arrow.svg') 0 0 no-repeat;
   position: absolute;
   top: 34%;
   right: 7%;
   /* width: 4%;
   height: 36%; */
   width: 16px;
   height: 16px;
   border-radius: 100%;
   background: #D9D9D9;
}
.contact__selest::before{
   content: '';
   background: url('../img/icon/arrow.svg') 0 0 no-repeat;
   position: absolute;
   top: 43%;
   right: -5.3%;
   width: 15%;
   height: 18%;
   z-index: 5;
}


/* ***********footer************ */

.footer {
   
}
.footer__container{
   height: 130px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer__left {
   display: flex;
   font-weight: 400;
   font-size: 20px;
   color: #000000;
}
.footer__left a{
   font-weight: 400;
   font-size: 20px;
   color: #000000;
}
.footer__left a:hover{
   color: #E06733;
}
.footer__date {
   margin:  0 20px;
   font-weight: 400;
   font-size: 20px;
   color: #000000;
}

.footer__title a{
   font-weight: 400;
   font-size: 20px;
   color: #000000;
}
.footer__title a:hover{
   color: #E06733;
}

.footer__soial a:not(:last-child) {
   margin-right: 22px;
}